@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
    padding: 0;
}

body {
    position: relative;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* LANDING PAGE OR HOME PAGE */
.landing-container {
    min-height: 100vh;
    background: linear-gradient(
        to right,
        #fff 0%,
        #fff 40%,
        #E85668 40%,
        #E85668 100%
    );
    position: relative;
}

.landing-dog {
    min-height: 90vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-top: 100px;
}

.landing-dog-image {
    width: 100%;
}

.landing-title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.landing-title {
    font-size: 150px;
    font-weight: 800;
    color: rgb(192, 38, 38);
    color: #fff;
    display: flex;
    flex-direction: column;
}

.landing-title-main {
    line-height: 130px;
}

.landing-title-half {
    color: #FFC11E
}

.landing-title-text {
    font-size: 20px;
    color: #fff;
    align-self: flex-end;
    text-align: justify;
}

.explore-button {
    align-self: flex-end;
    color: #fff;
    cursor: pointer;
    margin-top: 50px;
    padding: 5px 10px;
    font-size: 22px;
    font-weight: 700;
    transition: transform 0.1s linear;
}

.explore-button:hover {
    transform: scale(1.2);
}

.landing-footer {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    font-size: 14px;
}

/* LOGIN PAGE */
.login-container {
    min-height: 100vh;
    display: flex;
}

.login-left-pane {
    background: url("/public/images/signupbg.jpg");
    width: 35%;
    min-height: inherit;
    background-size: cover;
    background-position: center;
}

.login-right-pane {
    width: 65%;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 0;
}

.signin-left-pane {
    background: url("/public/images/signinbg.jpg");
    background-size: cover;
    background-position: center;
}

.signin-right-pane {
    padding-top: 200px;
}

.login-container h1 {
    font-weight: 500;
    color: #E85668;
}

.login-header p {
    margin: 15px 0;
    font-size: 14px;
    color: rgb(104, 102, 102);
}

.login-input-wrapper-container {
    padding: 20px 0;
}

.login-input-wrapper {
    border-bottom: 1px solid #d2d0d0;
    width: 80%;
    padding-bottom: 25px;
}

.login-input-container {
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #d2d0d0;
    display: flex;
    align-items: center;
}

.login-input input {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
}

.password-visibility-icon {
    color: #6D6E71;
    cursor: pointer;
}

.input-valid-icon {
    margin-left: 5px;
}

.sign-in-prompt {
    padding-top: 30px;
    font-size: 12px;
    color: #676768;
    display: flex;
    align-items: center;
}

.sign-in-button {
    color: #1771F1;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sign-in-button p {
    margin-right: 5px;
}

/* LOGIN/ SIGNUP ERROR TEXT */
.login-error-text {
    font-size: 10px;
    margin-top: 2px;
    color: red;
}

/* MEDIA QUERIES */
@media (max-width:900px) {
    .landing-title {
        font-size: 100px;
    }

    .landing-title-main {
        line-height: 80px;
    }

    .login-input-wrapper {
        width: 100%;
    }

    .login-left-pane {
       display: none;
    }

    .login-right-pane {
        width: 100%;
    }

    .signin-right-pane {
        padding-top: 100px;
    }
}

@media (max-width:600px) {
    .landing-dog {
        width: 70%;
    }

    .landing-title {
        font-size: 80px;
    }

    .landing-footer {
        font-size: 10px;
        padding-right: 10px;
    }

    .login-right-pane {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width:400px) {
    .landing-dog {
        width: 90%;
    }

    .landing-title {
        font-size: 70px;
    }

    .landing-title-text {
        display: none;
    }

    .explore-button {
        background-color: rgba(0, 0, 0, 0.138);
    }
}